# Root-level
node_modules/
dist/
.env
.DS_Store

# Client (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.vscode

# Server (Go)
backend/bin/
backend/vendor/
backend/*.log
backend/*.exe
backend/*.out
backend/.env
